<!-- Actor card starts -->

<div class="container my-12 mx-auto px-4 md:px-12">
    <div class="flex flex-wrap justify-center -mx-1 lg:-mx-4">
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
            <article class="cursor-pointer card bg-white overflow-hidden rounded-lg shadow-lg">
                <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                    <a class="flex items-center no-underline hover:underline text-black">
                        <img alt="Image" width="100" height="100" class="block rounded-full"
                            src="https://photos.bandsintown.com/large/7349968.jpeg">
                        <div class="text-black">
                            <p class="ml-2 text-sm">John</p>
                            <p class="ml-2 text-sm">www.facebook.com/45454</p>
                        </div>
                    </a>
                </footer>
            </article>
        </div>
    </div>
</div>


<article class="card ml-5 mr-5 p-10 bg-white overflow-hidden rounded-lg shadow-lg">
    <p class="lg:text-xl sm:text-sm xl:text-2xl font-bold text-center font-mono:font-mono">
        User Not Found
    </p>
</article>

<br>

<!-- Actor card ends -->
<article class="card ml-5 mr-5 p-10 bg-white overflow-hidden rounded-lg shadow-lg">
    <p class="lg:text-xl sm:text-sm xl:text-2xl font-bold text-center font-mono:font-mono">
        No Upcomming events
    </p>
</article>


<!-- Event card starts -->

<div class="container my-12 mx-auto px-4 md:px-12">
    <h2 class="font-mono:font-mono font-bold py-3 text-white text-2xl">
        5 Upcomming events
    </h2>
    <div class="flex flex-wrap -mx-1 lg:-mx-4">
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
            <article class="card bg-white overflow-hidden rounded-lg shadow-lg">
                <div class="ml-3 mr-3 p-2 py-2 border-b border-solid border-gray-300">
                    <h1>Event Details</h1>
                </div>
                <footer class="p-2 md:p-4">
                    <div class="text-black w-full">
                        <div class="flex justify-between">
                            <b class="ml-2">Name:</b>
                            <p class="text-sm">Area 21</p>
                        </div>
                        <div class="flex justify-between">
                            <b class="ml-2">City:</b>
                            <p class="text-sm">Big City</p>
                        </div>
                        <div class="flex justify-between">
                            <b class="ml-2">Country:</b>
                            <p class="text-sm">Tomorrowland</p>
                        </div>
                        <div class="flex justify-between">
                            <b class="ml-2">Date:</b>
                            <p class="text-sm">Oct 4, 2021</p>
                        </div>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>

<!-- Event card ends -->