<nav class="flex justify-center bg-white p-5">
    <div class="main">
        <p class="text-black">
            <img class="m-auto" width="200" height="200" src="../assets/images/logo.svg" alt="Logo">
        </p>
        <p class="text-sm text-center font-mono:font-mono mt-2">
            Search your favourite artists and find out about their recent events.
        </p>
    </div>
</nav>


<!-- Search bar starts -->

<div class="rounded-t-xl overflow-hidden p-10">
    <div class="w-full max-w-xl mx-auto">
        <div class="relative text-gray-400 focus-within:text-gray-600">
            <div class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none">
                <svg class="h-5 w-5 text-grey-dark" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24">
                    <path
                        d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
                </svg>
            </div>
            <input id="email"
                class="py-3 px-4 bg-white placeholder-gray-400 text-gray-900 rounded-lg shadow-md appearance-none w-full block pl-12 focus:outline-none"
                placeholder="Search artist">
        </div>
    </div>
</div>

<!-- Search bar ends -->